{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>پروفایل شخصی</title>
    <link href="{% static "userpanel/profile.css"%}" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css"/>
</head>
<body  style="background-color: #fffcde">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="mainpage.html"> <img src="{% static "userpanel/1.png" %}" alt="Avatar" class="person-img"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="mainpage.html">صفحه اصلی <span class="sr-only">(current)</span></a>
            </li>

        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div style="margin-top: 50px" class="card">

                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <img src="{% static "userpanel/1.png" %}" id="imgProfile" style="width: 150px; height: 150px" class="person-img" />
                                <div class="middle">
                                    <input style="margin-left: 15px;margin-top: 10px" type="button" class="btn btn-secondary" id="btnChangePicture" value="تغییر عکس پروفایل" />
                                    <input type="file" style="display: none;" id="profilePicture" name="file" />
                                </div>
                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">اسم کاربر</a></h2>
                            </div>
                        </div>
                    </div>

                    <form action="/action_page.php">
                        <div class="form-group">
                            <label >نام کامل :</label>
                            <input type="text" class="form-control col-sm-5" id="fullname" name="fullname" value="pouya arjomandi">
                        </div>
                        <div class="form-group">
                            <label >نام کاربری :</label>
                            <input type="text" class="form-control col-sm-5" id="idname" name="idname" value="pouya_aj">
                        </div>
                        <div class="form-group">
                            <label >ایمیل :</label>
                            <input type="email" class="form-control col-sm-5" id="email" name="email"value="arjomandipouya1051@gmail.com">
                        </div>
                        <div class="form-group">
                            <label for="pwd">پسورد جدید:</label>
                            <input type="password" class="form-control col-sm-5" id="pwd" placeholder="پسورد جدید را وارد کنید" name="pwd">
                        </div>
                        <div class="form-group">
                            <label for="pwd">تایید پسورد جدید:</label>
                            <input type="password" class="form-control col-sm-5" id="pwdrepet" placeholder="پسورد جدید را تایید کنید" name="pwd">
                        </div>

                        <button  style="margin-left: 200px" type="submit" class="btn btn-default">ثبت تغییرات</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>