{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>گزارش ها</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body class="row">

<div style="margin-left:200px" class="col-sm-10" >
    <h5 class="col-sm-11" style="text-align:right ;margin-top: 20px;float: right"> : تمامی گزارش های شما</h5>
    <br/><br/><br/>
    
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">توضیح</th>
      <th scope="col">تاریخ</th>
      <th scope="col">ساعت</th>
      <th scope="col">مقدار</th>
      <th scope="col">منبع</th>
    </tr>
  </thead>

    {% for i in data %}
        <tr>
      <th scope="row">1</th>
      <td>{{ i.text }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.time }}</td>
      <td>{{ i.amount }}</td>
      <td>{{ i.sour }}</td>
    </tr>
        {% endfor %}
  <tbody>
</table>
</div>
</body>
</html>